#wrap{
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #333;
}
#list{   
  position: absolute;
  width: 500%;
  height: 200px;
}
#list img{
  float: left;
  width: 400px;
  height: 100%;
}
#buttons{
  position: absolute;
  top: 220px;
  left: 47%;
  width: 200px;
  height: 10px;
}
#buttons span{
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  background: #333;
  text-align:center;
}
#buttons .on{
 background: red;
 color: #fff;
}
.arrow{
font-size: 36px;
font-weight: bold;
line-height: 39px;
position: absolute;
z-index: 2;
top: 100px;
width: 40px;
height: 40px;  
cursor: pointer;
text-align: center;
color: #fff;
background-color: #a8a8a8;
border-radius: 20px;
}
.arrow:hover{
background-color: #4a4a4a;
}
#prev{
left: 0;
}
#next{
right: 0;